image: ruby:3.3.10

pipelines:
  tags:
    v*:
      - step:
          name: Test and deploy
          deployment: production
          caches:
            - bundler
          script:
            - gem install bundler-audit
            - bundle audit check --update
            - bundle config set --local path 'vendor/bundle'
            - bundle install
            - bundle exec rake
            - "export GEM_FILENAME=$(gem build *.gemspec | grep -oE 'File: (.+)' | cut -d ' ' -f 2)"
            - export GEM_HOST_API_KEY="Token $CLOUDSMITH_API_KEY"
            - gem push $GEM_FILENAME --host 'https://ruby.cloudsmith.io/readcube/main'
definitions:
  caches:
    bundler: vendor/bundle
